<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">mail</th>
      <th scope="col">UUID</th>
      <th scope="col">Created</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <% @array.each do |a|%>
        <tr class="bg-<%=a[:style]%>">
            <th scope="row"><%=a[:data].id%></th>
            <td><%=a[:data].mail%></td>
            <td><%=a[:data].uuid%></td>
            <td><%=a[:data].created_at%></td>
            <td><%=a[:result]%></td>
        </tr>
    <%end%>
    </tbody>
    </table>