<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">mail</th>
      <th scope="col">UUID</th>
      <th scope="col">MCID</th>
      <th scope="col">変更回数</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
        <tr>
            <th scope="row"><%=user.id%></th>
            <td><%=user.mail%></td>
            <td><%=user.uuid%></td>
            <td><%=user.mcid%></td>
            <td><%=user.MissCount%></td>
            <td><%=user.created_at%></td>
        </tr>
    <%end%>
    </tbody>
</table>